.btn {
    background-color: var(--primary-color);
}

.page-control {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 4em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.footer {
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
}

a p, .aboutt {
    font-size: 0.85em;
}

.navbar-nav .nav-item:hover > .nav-link,
.navbar-nav .nav-item:focus > .nav-link {
    
    transition: color 0.3s ease-in-out;
    color: var(--primary-color);
}

