
footer p {
    font-size: medium;
}

footer div div div ul li a p:hover {
    color: #ccc;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer p {
        font-size: small;
    }

        
    nav div a {
        font-size: medium;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #uitc {
        font-size: 0.6em;
    }
    body {font-size: 0.80em;}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #uitc {
        font-size: 0.6em;
    }
    body {font-size: 0.7em;}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
    #uitc {
        font-size: 0.5em;
    }
    body {font-size: 1.25em;}
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
    #uitc {
        font-size: 0.7em;
    }
    body {font-size: 1.25em;}
}