{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/d.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/d.css') }}">
<title>Form d</title>
{% endblock %}


{% block body %}
<div class="col col-lg-6 col-l-6 col-md-8 col-sm-10 col-11 mx-auto">
    <div class="mt-5 bg-white rounded-4 shadow-lg">

        <form action="{{ url_for('loading') }}" method="post">

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if session.name %}
                        <p><b>Name:</b> {{ session.name }}</p>
                            <p><b>Email:</b> {{ session.email }}</p>
                            <p><b>Contact number:</b> {{ session.contact }}</p>
                            <p><b>Service:</b> {{ session.service }}</p>
                            <p>
                                <b>Service Type: </b>
                                <span id="serv-modal">Not yet selected</span>
                            </p>
                            <p>
                                <b>Device: </b>
                                <span id="dev-modal">Not yet selected</span>
                            </p>
                            <p>
                                <b>Other device:</b>
                                <span id="odev-modal"> Not yet selected</span>
                            </p>
                            <p>
                                <b>Device Problem:</b>
                                <span id="prob-modal"> Not yet selected</span>
                            </p>
                            <p>
                                <b>Location:</b>
                                <span id="loc-modal"> Not yet selected</span>
                            </p>
                        {% else %}
                            <p>Some error occured.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Request</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal -->
        
            <h3 class="w-100 pt-5 text-center">ICT Equipment</h3>
            <div class="mx-5 pb-5">                
                
                <!-- Servzice Picker -->                
                <p class="text-muted">Which service do you want?</p>
                <div class="form-check">
                    <input class="form-check-input type-radio" type="radio" name="service-type" id="type-2" value="Repair and Maintenance">
                    <label class="form-check-label" for="type-2">
                        Repair and Maintenance
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input type-radio" type="radio" name="service-type" id="type-1" value="Request to Use" required>
                    <label class="form-check-label" for="type-1">
                        Request to Use
                    </label>
                </div>
                
                <p class="pt-3 text-muted">Which device do you need?</p>
                <select id='devices' name="devices" class="form-select" aria-label="Default select example">
                    <option id="temporary" selected>Open this select menu</option>
                    <option value="Desktop Computer">Desktop Computer</option>
                    <option value="Laptop Computer">Laptop Computer</option>
                    <option value="Printer">Printer</option>
                    <option value="Photocopy Machine">Photocopy Machine</option>
                    <option value="LED Wall">LED Wall</option>
                    <option id="other" value="Other">Other</option>
                </select>

                <div class="py-3" id="other-device-div" style="display:none">
                    <label for="other-device" class="text-muted">Other device?</label>
                    <input type="text" class="form-control" id="other-device" placeholder="Your Device" value="">
                </div>
                
                
                <div class="py-3" id="problem-div" style="display:none">
                    <label for="location" class="text-muted">What were the problem(s)?</label>
                    <textarea type="text" class="form-control" id="problem" name="problem" placeholder="Input here" value=""></textarea>
                </div>
                
                <div class="py-3">
                    <label for="location" class="text-muted">Where can we find you?</label>
                    <input type="text" class="form-control" id="location" placeholder="Location" value="" required>
                </div>
            </div>
            
            <div class="page-control">
                <button name="back" id="back-btn" class="btn btn-danger btn-lg" type="submit">Back</button>
                <button id="modal-button" type="button" class="btn btn-danger btn-lg " data-bs-toggle="modal" data-bs-target="#exampleModal">Next</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}