{% extends 'admin/base.html' %}

{% block head %}
<title>Job Request | Admin</title>
<script src="{{ url_for('static', filename='js/admin/requests.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{% endblock %}


{% block body %}
<!-- Button trigger modal -->
<button id="the-actual-modal-button" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Modal Button
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">  
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal-btn" id="reject-btn" data-bs-dismiss="modal">Reject</button>
          <button type="button" class="btn btn-primary modal-btn" value="accept" id="accept-btn">Accept</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" w-75 mx-auto my-5">
    <div class="d-inline-block mb-3">
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId-status" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Pending
            </button>
            <div class="dropdown-menu" id="status-filter-btn" aria-labelledby="triggerId">
                <button class="dropdown-item status-filters" value="1">Pending</button>
                <button class="dropdown-item status-filters" value="2">Accepted</button>
                <button class="dropdown-item status-filters" value="3">Ongoing</button>
                <button class="dropdown-item status-filters" value="4">Completed</button>
                <button class="dropdown-item status-filters" value="0">Rejected</button>
            </div>
        </div>
    </div>
    
    <div class="d-inline-block">
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId-service" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                All
            </button>
            <div class="dropdown-menu" id="service-filter-btn" aria-labelledby="triggerId">
                <button class="dropdown-item btn-danger service-filters" href="#">All</button>
                {% if services %}
                    {% for i in services %}
                        <button class="dropdown-item btn-danger service-filters">{{i['name']}}</button>
                    {% endfor %}
                {% else %}
                    
                {% endif %}
          
            </div>
        </div>
    </div>
    
    <div class="table-responsive rounded-3 border border-black pt-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Request</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>

</div>


{% endblock %}
