{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/e.js') }}"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/d.css') }}"> -->
<title>Form d</title>
{% endblock %}


{% block body %}
<div class="col col-lg-6 col-l-6 col-md-8 col-sm-10 col-11 mx-auto">
    <div class="mt-5 bg-white rounded-4 shadow-lg">

        <form action="{{ url_for('loading') }}" method="post">

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if session.name %}
                            <p>Name: {{ session.name }}</p>
                            <p>Email: {{ session.email }}</p>
                            <p>Contact number: {{ session.contact }}</p>
                            <p>Service: {{ session.service }}</p>
                            <p>
                                <b>Service Type: </b>
                                <span id="serv-modal">Not yet selected</span>
                            </p>
                            <p>
                                <b>Software/Publication: </b>
                                <span id="sopu-modal">Not yet selected</span>
                            </p>
                            <p>
                                <b>Author:</b>
                                <span id="aut-modal"> Not yet selected</span>
                            </p>
                            <p>
                                <b>Editor:</b>
                                <span id="edi-modal"> Not yet selected</span>
                            </p>
                            <p>
                                <b>Date:</b>
                                <span id="date-modal"> Not yet selected</span>
                            </p>
                            
                        {% else %}
                            <p>Some error occured.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Request</button>
                    </div>
                </div>
                </div>
            </div>  
            <!-- Modal -->
        
            <h3 class="w-100 py-5 text-center">Software & Website Management</h3>
            <div class="mx-5 pb-5">                
                
                <!-- Servzice Picker -->                
                <p class="text-muted">Which service do you want?</p>
                <div class="form-check">
                    <input class="form-check-input type-radio" type="radio" name="service-type" id="type-2" value="Install Software">
                    <label class="form-check-label" for="type-2">
                        Install Software
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input type-radio" type="radio" name="service-type" id="type-1" value="Post Publication" required>
                    <label class="form-check-label" for="type-1">
                        Post Publication
                    </label>
                </div>

                
                <p class="text-muted pt-4">Choose your needs:</p>
                <div class="form-check soft-serv">
                    <input class="form-check-input" type="radio" name="sub-serv" id="sub-1" value="Security Software">
                    <label class="form-check-label" for="sub-1">
                        Security Software
                    </label>
                </div>
                
                <div class="form-check soft-serv">
                    <input class="form-check-input" type="radio" name="sub-serv" id="sub-2" value="Productivity Tool">
                    <label class="form-check-label" for="sub-2">
                        Productivity Tool <span class="text-muted fst-italic">(e.g. MS Office 365)</span>
                    </label>
                </div>
                
                <div class="form-check soft-serv">
                    <input class="form-check-input" type="radio" name="sub-serv" id="sub-3" value="Application/Information System/Software">
                    <label class="form-check-label" for="sub-3">
                        Application/Information System/Software
                    </label>
                </div>
                
                <div class="form-check pub-serv">
                    <input class="form-check-input type-radio" type="radio" name="sub-serv" id="sub-4" value="Publication/Update Information in Website" required>
                    <label class="form-check-label" for="sub-4">
                        Publication/Update Information in Website
                    </label>
                </div>

                <div class="pub-serv" style="display: none;">

                    <p class="text-muted pt-4">Publication Information</p>
                    <div class="row form-floating mb-3 mx-auto pt-2">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Author:" value="">
                        <label for="other-device" class="w-25 ps-3 ms-1 fs-6 fw-light text-muted">Author:</label>
                    </div>
                    <div class="row form-floating mb-3 mx-auto pt-2">
                        <input type="text" class="form-control" id="editor" name="editor" placeholder="Editor:" value="">
                        <label for="other-device" class="w-25 ps-3 ms-1 fs-6 fw-light text-muted">Editor:</label>
                    </div>    
    
                    <div class="row pt-2 mx-auto">
                        <div class="col mx-auto">
                            <label for="from" class="text-muted row">From:</label>
                            <input type="date" class="row" name="from" id="from">
                        </div>
                        
                        <div class="col mx-auto">
                            <label for="from" class="text-muted row">To:</label>
                            <input type="date" class="row" name="to" id="to">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="page-control">
                <button name="back" id="back-btn" class="btn btn-danger btn-lg" type="submit">Back</button>
                <button id="modal-button" type="button" class="btn btn-danger btn-lg " data-bs-toggle="modal" data-bs-target="#exampleModal">Next</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}