{% extends 'base.html' %}

{% block head %}
<title>Job Request | Success</title>
<script src="{{ url_for('static', filename='js/loading.js') }}"></script>
{% endblock %}

{% block body %}

{% if session['response_create'] == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Please wait for your email confirmation.
    </div>
{% elif session['response_create'] == False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Oh no!</strong> We didn't expect to lose your request.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if not session %}
<div class="container bg-light">
    <div class="bg-white text-center w-75 mx-auto mt-5" style="height:300px" role="alert">
      <h3 class="pt-3 pb-5 ">Request Status</h3>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br>
      Loading...
    </div>
  </div>
  <script>
    setTimeout(function() {
      window.location.href = '/clear_session';
    }, 3000);
  </script>
{% else %}

<div class="m-5 border bg-white rounded-3">
  <div class="container d-flex flex-column align-items-center pt-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="25%" height="25%" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
    </svg>
    <h1 class="pt-3">Success</h1>
    <h5 class="text-muted pb-5">
      Press here to redirect to Home
    </h4>
  </div>
</div>

{% endif %}

{% endblock %}